<div class="text">
  <span class="text1 text11">BIENVENIDO A MI CURRÍCULUM VITAE</span> <br>

  <span class="text2 text22">BY: MILER ARNEZ PONCE</span> 
</div>
<video muted autoplay loop class="video">
  <source src="assets/video/video.mp4"
  type="video/mp4">
</video>

