

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  overflow-x: hidden;
}

.text{
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 2;
  color: whitesmoke;
}


span {

  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 2px solid;
  width: 32ch;
  font-size: 30px;
  animation: typing 4s steps(20), blink .6s infinite step-end alternate;
  overflow:hidden;
  }

  @keyFrames typing {

  from { width: 0}
  }

  @keyFrames blink {
  50% { border-color: transparent}
  }


.text2 {
  display: block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap;
  border-right: 2px solid;
  width: 19ch;
  font-size: 30px;
  
  
  animation: typing 4s steps(20), blink .6s infinite step-end alternate;
  overflow:hidden;
  }
  
  @keyFrames typing {
  
  from { width: 0}
  }
  
  @keyFrames blink {
   50% { border-color: transparent}
  }


@media screen and (max-width: 320px){
  .video{
   margin-left: 200px;
  }
}

@media screen and (max-width: 375px){
  .media{
    width: 100%;
  }
  .text1{
    font-size: 20px;
  }
}



@media screen and (max-width: 425px){
  .text11{
    font-size: 13px;
  }

  .text22{
    font-size: 15px;
  }

  .text2 {
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: nowrap;
    border-right: 2px solid;
    width: 22ch;
    font-size: 25px;
    
    
    animation: typing 4s steps(20), blink .6s infinite step-end alternate;
    overflow:hidden;
    }
}