<form [formGroup]="datos"> 
  
  <div class="row justify-content-center">
    
    <img src="assets/img/correo.jpg" alt="correo" class="img-2">
    <div class="col-lg-4 content ez ez3" >
      <h1 class="leter">FORMULARIO DE CONTACTO</h1>
      <input type="text" placeholder="Nombre" class="form-control tamano ez1" formControlName="nombre" [class.is-invalid]="nombreNoValido"> <br><br>
      <div class="form-block" id="grupo-nombre">
        <div class="adver" *ngIf="nombreNoValido">
          Introduzca un nombre*
        </div>
        </div>
      <input type="email" placeholder="Correo Electrónico" class="form-control tamano ez1" formControlName="email" [class.is-invalid]="emailNoValido"> <br><br>
      <div class="form-block" id="grupo-email">
        <div class="adver" *ngIf="emailNoValido">
          Introduzca un correo electrónico*
        </div>
      </div> 
      
      
      <input type="text" placeholder="Asunto" class="form-control tamano ez1" formControlName="asunto" [class.is-invalid]="asuntoNoValido"> <br><br>
      <div class="form-block" id="grupo-email">
        <div class="adver" *ngIf="asuntoNoValido">
          Introduzca un aunto*
        </div>
      </div> 

      
      <textarea placeholder="Mensaje" cols="40" rows="4" class="form-control tamano ez1" formControlName="mensaje" [class.is-invalid]="mensajeNoValido"></textarea><br>
      
      <div class="form-block" id="grupo-mensaje">
        <div class="adver" *ngIf="mensajeNoValido">
          Introduzca un mensaje*
        </div>
      </div> 
      <button class="btn btn-outline-danger" type="submit" (click)="envioCorreo()" [disabled]="datos.invalid">Enviar</button>
    </div>
  </div>
</form>

