h1{
  font-weight: bold;
  color: rgb(247, 196, 14);
  margin-left: 40%;
  margin-bottom: 10px;
  padding-top: 25px;
}



@media screen and (max-width: 375px){

  .text5{
    margin-left: 15%;
  }
}


@media screen and (max-width: 425px){

  .text5{
    margin-left: 19%;
  }
}