<div class="container class class2">
<h1><u>SOBRE MI</u></h1>
<h1><b>MILER ARNEZ</b></h1>
<span class="text-11 modi" ><em>Soy una persona paciente y responsable dispuesto a trabajar en equipo, me relaciono facilmente con las personas, soy conciente y claro con <br> 
  mis objetivos a futuro. Tengo base en desarrollo de aplicaciones Web, estudie 3 años en el instituto tecnológico INFOCAL, mis conocimientos <br> en el area de informatica, me ha permitido crecer 
  como persona, ampliando y reforzando todo lo adquirido, demostrando mis capacidades y <br> habilidades con responsabilidad, soy un firme creyente del trabajo en equipo, comprendo que mientras haya una buena comunicación llega <br>
  a ser más eficiente el trabajo. Me adapto rápidamente a un nuevo ambiente y trato con respeto y cortesía a mis compañeros y clientes, no <br> creo en excusas para no entregar informes o alcanzar las metas en el tiempo estipulado.<br>
  
</em></span>
<h1><u>FORMACIÓN ACADÉMICA</u></h1>
  <span> <b> (2022 - En desarrollo)</b></span><br>
  <span><b>Enseñanza Técnico Superior:</b> Desarrollo de Aplicaciones Web (SOLANING S.R.L)</span> <br><br>
  <span> <b> (2019 - 2022)</b></span><br>
  <span> <b>Enseñanza Técnico Superior:</b>  	Sistemas Informáticos (INFOCAL)  </span>  <br><br>
  <span> <b> (2006 - 2017)</b></span><br>
  <span> <b>Enseñanza Media:</b>  	1° de Primaria a 6° de Secundaria (UNIDAD EDUCATIVA "EDMUNDO BOJANOWSKI "B"")  </span>  <br>
  
  <h1><u>IDIOMAS</u></h1>
  <span><b> Castellano:</b> Nivel Alto</span><br>
  <span><b> Inglés:</b> Nivel Basico Intermedio</span><br>
  <span><b> Quechua:</b> Nivel Bajo</span>
  <div class="infor">
    <h1><u>INFORMÁTICA</u></h1>
    <span><b> Conocimientos a nivel usuario:</b></span><br>
    <span><b> Ofimática:</b> Word | Excel | Access | PowerPoint</span><br>
    <span><b> Dactilografía:</b> Nivel Intermedio</span><br>
    <span><b> Edición de video:</b> Filmora 9 | Adobe Premiere PRO</span> <br>
    <span><b> Edición de fotos:</b> Adobe Photoshop</span> <br>
    <span><b> Creador de iconos:</b> Adobe Illustrator</span> <br>
    <span><b> Editores de texto:</b> Sublime text - VsCode</span>
  </div>
</div>

