<div class="container">
<h1 class="text-3 ez2"><u>DATOS GENERALES</u></h1>
<img src="assets/img/miler44.jpg" alt="Miler Arnez Ponce" class="img-1 e2">

<div class="text tex-4">
  <h2>> Lugar y Fecha de Nacimiento: <b> Punata - 22 de Enero del 2000</b></h2> 
  <h2>> Dirección: <b>Pacata Alta - Villa Esperanza</b> </h2> 
  <h2>> Numero de cédula de identidad: <b>7911041</b> </h2> 
  <h2>> Email: <b>miller4290@hotmail.com</b> </h2> 
  <h2>> Estado Civil: <b>Soltero</b> </h2> 
  <h2>> Ciudad: <b>Cochabamba</b> </h2> 
  <h2>> Celular: <b>+591 76469149</b> </h2> 
</div>

  <div class="hab">
    <h1><u>HABILIDADES</u></h1>
    <div class="container-1">
      <i class='bx bxl-html5 bx-flashing' style='color:#fa7304'></i> <b> HTML 100%</b>
      <mat-progress-bar mode="determinate" value="100" class="progreso"></mat-progress-bar>
    </div>
    <i class='bx bxl-css3 bx-flashing' style='color:#04b3f1'  ></i>
    <b>CSS 90%</b><mat-progress-bar mode="determinate" value="90" class="progreso"></mat-progress-bar>
    <i class='bx bxl-javascript bx-flashing' style='color:#f7bd0b'  ></i>
    <b >JAVASCRIPT 75%</b><mat-progress-bar mode="determinate" value="75" class="progreso" ></mat-progress-bar>
  </div>

  <div class="hab2">
    <i class='bx bxl-angular bx-flashing' style='color:#f30909'  ></i>
    <b > ANGULAR 75%</b><mat-progress-bar mode="determinate" value="75" class="progreso"></mat-progress-bar>
    <i class='bx bxl-bootstrap bx-flashing es' style='color:#8b03e8'  ></i>
    <b > BOOTSTRAP 75%</b><mat-progress-bar mode="determinate" value="75" class="progreso es"></mat-progress-bar>
    
  </div>
</div>




